{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Slots game</title>
	<link rel="icon" type="image/png" href="https://img.icons8.com/?size=100&id=AHcyfqTtWcRI&format=png&color=000000">
        <link rel="stylesheet" href={% static "slots_static/slots.css" %}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>        
        <script src={% static "slots_static/slots.js" %}></script> 
    </head>
    <body>
    <div class="win-window" style="display: none;">
        <img src="https://cdn-icons-png.flaticon.com/512/8610/8610932.png" alt="" class="win-image">
        <h3 class="window-headers">{{ prize }}</h3>
        <h3 class="window-headers">{{ promocode }}</h3>
        <h3 class="window-headers">{{ company }}</h3>
        <a class="window-headers" href={{ link }}>{{ link }}</a>
        <button id="close-btn" class="close-btn window-headers">Закрити</button>
    </div>
    <div class="win-message-container">
        <span class="greeting-message">Приємної гри!</span>
        <span class="win-message">Виграш: <span class="win-text"></span>!</span>
    </div>
    <div id="stage" class="perspective-on">
    
        <div id="rotate">
            <div class="triangle triangle_left"></div>
            <div class="curve left"></div>
            <div id="ring1" class="ring"></div>
            <div id="ring2" class="ring"></div>
            <div id="ring3" class="ring"></div>
            <div class="curve right"></div>
            <div class="triangle triangle_right"></div>
	    {% csrf_token %}
            <div class="spin-button"><button class="go"></button></div>
        </div>
    </div>
    <div class="lose-window"  style="display: none;">
        <h3 class="window-headers lose">Щоб отримати ще безкоштовні спроби залиште коментар під дописом:</h3>
        <a class="window-headers lose" href={{ link }}>{{ link }}</a>
    </div>
    <div class="count-spins-container">
        <span class="count-spins">Кількість спроб: <span class="count"></span></span>
    </div>

    <!-- <div>
          <label>
                <input type="checkbox" id="xray">
                Show inner workings
          </label>
          <label>
                <input type="checkbox" id="perspective">
                Toggle perspective
          </label>
    </div> -->

</body>
</html>
